.flex-between {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.styled-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 14px;
  width: 100%;
  color: #5d5d5d;
}

.flex-between .styled-button {
  width: auto;
}

.styled-button:hover {
  background-color: #ececec;
  color: black;
}

.inline-button {
  color: #5d5d5d;
  font-weight: 700;
  margin: 0 5px;
}

.inline-colored-button {
  font-weight: 700;
  margin: 0 5px;
}

.inline-button:hover {
  color: black;
}

.inline-text-button {
  color: #5d5d5d;
  font-size: 14px;
  margin-left: auto;
}

.inline-colored-text-button {
  font-size: 14px;
  margin-left: auto;
}

.inline-colored-text-button:hover {
  filter: brightness(0.9) contrast(1.1);
}

.inline-colored-button:hover {
  filter: brightness(0.9) contrast(1.1);
}

.inline-text-button:hover {
  color: black;
}

.styled-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.styled-input:focus {
  outline: none;
}

.styled-inline-input {
  width: 100%;
  border-radius: 0.5rem;
}

.styled-inline-input:focus {
  outline: none;
}

input[type="checkbox"]:checked {
  color: #5d5d5d;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 2px solid #ccc;
  cursor: pointer;
  appearance: none; /* Remove default checkbox styles */
  -webkit-appearance: none;
}

input[type="checkbox"]:focus {
  outline: none; /* Remove the focus outline */
  -webkit-box-shadow: none; /* For WebKit (Chrome, Safari) */
  box-shadow: none; /* Remove focus box-shadow */
}

ul > li:last-child {
  margin-bottom: 0.25rem;
}

/* STARTUP */

.add-chat-button {
  margin-right: 30px;
}

/* FOLDERS */
.folder-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.375rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  transition: filter 0.1s ease;
}

.folder-header:hover {
  filter: brightness(0.9) contrast(1.1);
}

.folder-header-open {
  filter: brightness(0.9) contrast(1.1);
}

.folder-name {
  font-size: 14px;
  display: flex;
  gap: 5px;
}

.folders-container {
  padding: 2px;
  margin-bottom: 1rem;
}

.folders-label {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 6px;
}

.toggle-open-button-rotated {
  transform: rotate(90deg);
}

.toggle-open-button {
  transition: all 0.1s ease-out;
  padding: 0 5px;
}

.chat-text {
  margin-left: 1rem;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  user-select: none;
  color: black;
}

.dropzone {
  height: 1rem;
  width: 100%;
  border-radius: 0.125rem;
  position: absolute;
  top: -0.5rem;
  z-index: 100000;
}

.dragover {
  border: #5d5d5d dashed 2px;
}

.chat-text:hover {
  background-color: #ececec;
}

/* FOLDER MENU */
.folder-menu-container {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.folder-menu-label {
  font-size: 14px;
}

.folder-menu-inputs {
  margin: 0.5rem 0;
}

/* CHAT MENU */
.chat-menu-container {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-menu-label {
  font-size: 14px;
}

.folder-select-header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.folder-select-header:hover {
  background-color: #ececec;
}

/* POPUPS */
.options-container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
